/*
----------------------------------------------------------------------------------------
    GeneLab Data Processing Methyl-Seq Workflow Nextflow config file
----------------------------------------------------------------------------------------
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

//Plugins
plugins {
  id 'nf-schema@2.6.0'
}

// Parameters to set
params {

    /*
    * ----------------------------------------------------
    *  PARAMETERS THAT SHOULD BE SET/CHECKED FOR EACH USE
    * ----------------------------------------------------
    */
    dp_tools_plugin             = null      // Path to dp_tools plugin
    api_url                     = "https://visualization.osdr.nasa.gov/biodata/api/v2/dataset/*/"
    assay_suffix                = null // If not supplied, workflow sets it to either "_GLMethylSeq" or "_GLRNAMethylSeq" based on runsheet's metadata

    // Input options
    accession                   = null // Accession number (OSD-# or GLDS-#)
    runsheet_path               = null // For OSDR datasets, runsheet will be generated based on the ISA.zip associated with the dataset
    isa_archive_path            = null // If a runsheet is not supplied, ISA.zip will be pulled from OSDR unless this is supplied    
    
    // Debugging input options
    limit_samples_to            = null // Limit the number of samples to process
    truncate_to                 = null // Subsamples the raw reads files to the specified number of reads for EACH raw reads file.
    force_single_end            = false // Use only read 1 for all samples, even if the original data is paired-end

    outdir                      = "results" // or GLDS-NNN if running in accession mode
    publish_dir_mode            = 'link'

    multiqc_config              = "${projectDir}/config/multiqc.config"

    reference_table             = "https://raw.githubusercontent.com/nasa/GeneLab_Data_Processing/refs/heads/master/GeneLab_Reference_Annotations/Pipeline_GL-DPPD-7110_Versions/GL-DPPD-7110-A/GL-DPPD-7110-A_annotations.csv"
    reference_store_path        = "./References" // Dictates where the reference fasta/gtf will be stored
    derived_store_path          = "./DerivedReferences" //Dictates where the derived reference files (locally built indexes, genome annotations) will be stored
    
    ref_fasta                   = "" // path or URL of custom reference genome fasta 
    ref_gtf                     = "" // path or URL of custom reference genome GTF
    ref_source                  = "" // Reference files (genome, gtf) source - 'ensembl', 'ensembl_bacteria', 'ensembl_plants', or 'ncbi'
    ref_version                 = "" // Reference version; leave blank for ncbi references
    gene_annotations_file       = "" // path or URL of organism-specific gene annotations table in format of those listed in reference_table['genelab_annots_link']

    clip_r1                     = null
    clip_r2                     = null
    three_prime_clip_r1         = null
    three_prime_clip_r2         = null

    non_directional             = false

    skip_dedupe                 = false

    ignore_r1                   = null
    ignore_r2                   = null
    ignore_3prime_r1            = null
    ignore_3prime_r2            = null

    methRead_mincov             = 2
    MethylDiff_difference       = 1
    MethylDiff_qvalue           = 0.5
    tileMethylCounts_mincov     = 10
    tileMethylCounts_winsize    = 1000
    tileMethylCounts_stepsize   = 1000

    /*
    * ----------------------------------------------------
    * POST_PROCESSING-SPECIFIC PARAMETERS
    * ----------------------------------------------------
    */
    post_processing {
        name                = "First M. Last"  // name of analyst
        email               = "NASA@nasa.gov" // email of analyst
        protocol_id         = "GL-DPPD-7113"  // Genelab pipeline document protocol id followed
        
        osd_accession       = null // e.g "OSD-47"
        glds_accession      = null // e.g. "GLDS-47"
        
        include_raw_data    = false // If true, includes raw files in README and validation processes, and generates raw_md5sum and raw data protocol
        merged_raw_data     = false // If true, raw data protocol mentions it
    }
}

// Workflow output settings
outputDir = params.outdir
workflow.output.mode = params.publish_dir_mode

// Load base.config by default for all pipelines
includeConfig 'config/base.config'

// Load library_presets.config 
includeConfig 'config/library_presets.config'

profiles {
    slurm {
        includeConfig 'config/default_slurm.config'
    }
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
        includeConfig 'config/by_docker_image.config'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        includeConfig 'config/by_docker_image.config'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
    }
}

// Adapted from : https://github.com/nf-core/rnaseq/blob/master/nextflow.config
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${launchDir}/nextflow_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${launchDir}/nextflow_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${launchDir}/nextflow_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${launchDir}/nextflow_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'NASA GeneLab Data Processing Methyl-Seq'
    homePage        = 'https://github.com/nasa/GeneLab_Data_Processing/tree/master/Methyl-Seq'
    description     = 'Methyl-Seq Pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '>=25.10.3'
    version         = '1.0.0'
}

validation {
  help {
    enabled = true
  }
}