process {
    withName: 'GET_ACCESSIONS|FETCH_ISA|ISA_TO_RUNSHEET|SOFTWARE_VERSIONS|GENERATE_PROCESSING_PROTOCOL|GENERATE_RAW_PROTOCOL|CLEAN_MULTIQC_PATHS|GENERATE_README|GENERATE_MD5SUMS|VALIDATE_PROCESSING|UPDATE_ASSAY_TABLE' {
        container = "quay.io/nasa_genelab/dp_tools:1.3.8"
    }
    withName: 'FASTQC' {
        container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
    }
    withName: 'TRIMGALORE' {
        container = "quay.io/biocontainers/trim-galore:0.6.10--hdfd78af_0"
    }
    withName: 'NUGEN' {
        container = "quay.io/biocontainers/python:2.7.15"
    }
    withName: 'MULTIQC' {
        container = "quay.io/biocontainers/multiqc:1.27.1--pyhdfd78af_0"
    }
    withName: 'BUILD_BISMARK|ALIGN_BISMARK|DEDUPE|EXTRACT_CALLS|BISMARK_REPORT|BISMARK_SUMMARY' {
        container = "quay.io/nasa_genelab/bismark:0.24.2_240830_1"
    }
    withName: 'TO_PRED' {
        container = "quay.io/biocontainers/ucsc-gtftogenepred:469--h9b8f530_0"
    }
    withName: 'TO_BED' {
        container = "quay.io/biocontainers/ucsc-genepredtobed:469--h9b8f530_0"
    }
    withName: 'SAMTOOLS_SORT' {
        container = "quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
    }
    withName: 'QUALIMAP' {
        container = "quay.io/biocontainers/qualimap:2.3--hdfd78af_0"
    }
    withName: 'DIFF_METHYLATION' {
        container = "quay.io/nasa_genelab/gl-methylkit:0.0.3"
    }
    withLabel: 'zip' {
        container = "quay.io/nasa_genelab/zip:3.0"
    }
}
