params {

  library_presets {

    'bs-seq' {
        clip_r1             = null
        clip_r2             = null
        three_prime_clip_r1 = null
        three_prime_clip_r2 = null
        non_directional     = false
        ignore_r2           = 2
    }
    'epignome' {
        clip_r1             = 8
        clip_r2             = 8
        three_prime_clip_r1 = 8
        three_prime_clip_r2 = 8
        non_directional     = false
    }
    'nugen' {
        clip_r1             = null
        clip_r2             = null
        three_prime_clip_r1 = null
        three_prime_clip_r2 = null
        non_directional     = false
        ignore_r2           = 2
    }
    'accel' {
        clip_r1             = 10
        clip_r2             = 15
        three_prime_clip_r1 = 10
        three_prime_clip_r2 = 10
        non_directional     = false
    }
    'zymo' {
        clip_r1             = 10
        clip_r2             = 10
        three_prime_clip_r1 = 10
        three_prime_clip_r2 = 10
        non_directional     = true
    }
    'em-seq' {
        clip_r1             = 10
        clip_r2             = 10
        three_prime_clip_r1 = 10
        three_prime_clip_r2 = 10
        non_directional     = false
    }
    'pbat' {
        clip_r1             = 6
        clip_r2             = 9
        three_prime_clip_r1 = 6
        three_prime_clip_r2 = 9
        non_directional     = false
    }
  }
}    